*{
    font-family: 'Roboto';
    box sizing: border-box;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:900;
}

h2{
    text-align: center;
}

button{
    background-color: #3882F6;
    color: white;
    min-width: 40px;
    border-radius: 15%;
    border: 1px rgb(77, 178, 224);
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px;
}

.header-logo{
    color:white;

}

.header-links{
    display:flex;
    color:rgb(192, 189, 189);
    column-gap: 20px;

}

.upper-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: #1F2937;
    padding: 50px;
}

.upper-left{
    max-width: 300px;
}

.upper-left p{
    color:rgb(192, 189, 189);
    
}

.upper-right{
    background-color:rgb(192, 189, 189);
    text-align: center;
    min-width: 410px ;
    min-height: 200px;
}

.upper-right img{
    max-width: 400px;
    
}

.more-info{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.big-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.small-cont{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: auto;
}

.small-cont img{
    border: 4px solid rgb(124, 93, 51);
    border-radius: 20%;
    max-width: 200px;

}

.box-subtext{
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: rgb(209, 207, 207);
    row-gap: 10px;
}

.some-quote{
    font-size: 20px;
    font-style: italic;
}


.some-author{
    align-self: flex-end;
    font-weight: bold;
}

.action{
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:rgb(192, 189, 189);
    padding:30px;
}