*{
    font-family: 'Roboto';
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:900;
}

button{
    background-color: #3882F6;
    color: white;
    min-width: 40px;
    border-radius: 15%;
    border: 1px rgb(77, 178, 224);
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px;
}

.header-logo{
    color:white;

}

.header-links{
    display:flex;
    color:rgb(192, 189, 189);
    column-gap: 20px;

}

.upper-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: #1F2937;
    padding: 50px;
}

.upper-left{
    max-width: 300px;
}

.upper-left p{
    color:rgb(192, 189, 189);
    
}

.upper-right{
    background-color:rgb(192, 189, 189);
    text-align: center;
    min-width: 400px ;
    min-height: 200px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:rgb(192, 189, 189);
    padding:30px;
}