*{
    font-family: 'Roboto';
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 10px;
    padding: 20px;
}

.header-logo{
    color:white;

}

.header-links{
    display:flex;
    color:rgb(192, 189, 189);
    column-gap: 20px;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:rgb(192, 189, 189);
    margin:10px;
    padding:20px;
}